Repository ministryofjustice/modernisation-platform-ami-builds, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/modernisation-platform, @ministryofjustice/studio-webops, @ministryofjustice/hmpps-migration

.github/CODEOWNERS:

* @ministryofjustice/modernisation-platform
/teams/nomis @ministryofjustice/studio-webops
/teams/oasys @ministryofjustice/studio-webops
/ansible @ministryofjustice/studio-webops
/teams/delius-core @ministryofjustice/hmpps-migration
/teams/delius-iaps @ministryofjustice/hmpps-migration
/teams/onr @ministryofjustice/studio-webops
/teams/example @ministryofjustice/modernisation-platform
/teams/sprinkler @ministryofjustice/modernisation-platform

new volume added
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

remove jumpserver setup code and jumpserver postfix from ami names
  .github/dependabot.yml
  teams/nomis/components/windows_server_2019_jumpserver/jumpserver_2019.yml
  teams/nomis/components/windows_server_2022_jumpserver/jumpserver.yml
  teams/nomis/windows_server_2019/locals.tf
  teams/nomis/windows_server_2019/terraform.tfvars
  teams/nomis/windows_server_2019/terragrunt.hcl
  teams/nomis/windows_server_2022/locals.tf
  teams/nomis/windows_server_2022/terraform.tfvars
  teams/nomis/windows_server_2022/terragrunt.hcl
Owners: @ministryofjustice/modernisation-platform, @ministryofjustice/studio-webops

add windows server only images
  teams/nomis/windows_server_2019/locals.tf
  teams/nomis/windows_server_2019/terraform.tfvars
  teams/nomis/windows_server_2019/terragrunt.hcl
  teams/nomis/windows_server_2022/locals.tf
  teams/nomis/windows_server_2022/terraform.tfvars
  teams/nomis/windows_server_2022/terragrunt.hcl
Owners: @ministryofjustice/studio-webops

remove jumpserver config but keep everything else
  teams/nomis/windows_server_2019/locals.tf
  teams/nomis/windows_server_2019/terraform.tfvars
  teams/nomis/windows_server_2019/terragrunt.hcl
  teams/nomis/windows_server_2019_jumpserver/terraform.tfvars
  teams/nomis/windows_server_2022/locals.tf
  teams/nomis/windows_server_2022/terraform.tfvars
  teams/nomis/windows_server_2022/terragrunt.hcl
  teams/nomis/windows_server_2022_jumpserver/terraform.tfvars
Owners: @ministryofjustice/studio-webops

add missing comment
  teams/nomis/windows_server_2022_jumpserver/terraform.tfvars
Owners: @ministryofjustice/studio-webops

remove jumpserver setup steps
  teams/nomis/windows_server_2019_jumpserver/terraform.tfvars
  teams/nomis/windows_server_2022_jumpserver/terraform.tfvars
Owners: @ministryofjustice/studio-webops

Update terraform.tfvars
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

specify arn directly
  commonimages/base/rhel_6_10/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

add optional image-id param to image search
  commonimages/base/variables.tf
Owners: @ministryofjustice/modernisation-platform

try to build extended support rhel6 ami
  commonimages/base/rhel_6_10/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

include deprecated param
  commonimages/base/variables.tf
  modules/imagebuilder/variables.tf
Owners: @ministryofjustice/modernisation-platform

uprev version to 0.2.0 as uses new ami and add/remove comments
  commonimages/base/rhel_6_10/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

uprev version
  commonimages/base/rhel_6_10/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

select the specific ami
  commonimages/base/rhel_6_10/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

set data to use include_deprecated
  modules/imagebuilder/data.tf
Owners: @ministryofjustice/modernisation-platform

include_deprecated as optional
  modules/imagebuilder/data.tf
Owners: @ministryofjustice/modernisation-platform

initial hmpps directory
  teams/hmpps/README.md
  teams/hmpps/locals_shared.tf
  teams/hmpps/main.tf
  teams/hmpps/terragrunt.hcl
  teams/hmpps/variables.tf
  teams/hmpps/versions.tf
Owners: @ministryofjustice/modernisation-platform

add oracle 19c image
  teams/hmpps/ol_8_5_oracledb_19c/locals.tf
  teams/hmpps/ol_8_5_oracledb_19c/terraform.tfvars
  teams/hmpps/ol_8_5_oracledb_19c/terragrunt.hcl
Owners: @ministryofjustice/modernisation-platform

pipeline
  .github/workflows/hmpps.yml
Owners: @ministryofjustice/modernisation-platform

DSOS-2010:add common hmpps images (#499)
  .github/workflows/hmpps.yml
  teams/hmpps/README.md
  teams/hmpps/locals_shared.tf
  teams/hmpps/main.tf
  teams/hmpps/ol_8_5_oracledb_19c/locals.tf
  teams/hmpps/ol_8_5_oracledb_19c/terraform.tfvars
  teams/hmpps/ol_8_5_oracledb_19c/terragrunt.hcl
  teams/hmpps/terragrunt.hcl
  teams/hmpps/variables.tf
  teams/hmpps/versions.tf
Owners: @ministryofjustice/modernisation-platform

Workflow: created files in .github
  .github/dependabot.yml
Owners: @ministryofjustice/modernisation-platform

add weblogic xtag AMI
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/locals.tf
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/terraform.tfvars
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/terragrunt.hcl
Owners: @ministryofjustice/studio-webops

tweaks
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/locals.tf
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/terraform.tfvars
Owners: @ministryofjustice/studio-webops

fix
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/terraform.tfvars
Owners: @ministryofjustice/studio-webops

test
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/terraform.tfvars
Owners: @ministryofjustice/studio-webops

revert to main branch and bump version
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/locals.tf
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/terraform.tfvars
Owners: @ministryofjustice/studio-webops

Nomis: DSOS-2000: create xtag ami (#504)
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/locals.tf
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/terraform.tfvars
  teams/nomis/rhel_7_9_weblogic_xtag_10_3/terragrunt.hcl
Owners: @ministryofjustice/studio-webops

common windows server 2022 ami in hmpps group
  .github/dependabot.yml
  commonimages/components/templates/aws_cli.yml
  commonimages/components/templates/powershell_core.yml
  teams/hmpps/windows_server_2022/locals.tf
  teams/hmpps/windows_server_2022/terraform.tfvars
  teams/hmpps/windows_server_2022/terragrunt.hcl
  teams/nomis/components/windows_server_2019_jumpserver/jumpserver_2019.yml
  teams/nomis/components/windows_server_2022_jumpserver/jumpserver.yml
Owners: @ministryofjustice/modernisation-platform, @ministryofjustice/studio-webops

change variable name
  teams/hmpps/windows_server_2022/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

change account distribution value
  teams/hmpps/windows_server_2022/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

uprev version to merge into main
  teams/hmpps/windows_server_2022/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

fix variable name
  teams/hmpps/windows_server_2022/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

Workflow: created files in .github
  .github/dependabot.yml
Owners: @ministryofjustice/modernisation-platform

remove nomis specific windows server 2019 ami
  teams/nomis/windows_server_2019_jumpserver/locals.tf
  teams/nomis/windows_server_2019_jumpserver/terraform.tfvars
  teams/nomis/windows_server_2019_jumpserver/terragrunt.hcl
Owners: @ministryofjustice/studio-webops

remove nomis specific windows server 2022 ami
  teams/nomis/windows_server_2022_jumpserver/locals.tf
  teams/nomis/windows_server_2022_jumpserver/terraform.tfvars
  teams/nomis/windows_server_2022_jumpserver/terragrunt.hcl
Owners: @ministryofjustice/studio-webops

Workflow: created files in .github
  .github/dependabot.yml
Owners: @ministryofjustice/modernisation-platform

Increase delius-core DB ebs volumes
  teams/delius-core/oracle_db/terraform.tfvars
Owners: @ministryofjustice/hmpps-migration

distribute oracle19 to combined reporting accounts
  teams/hmpps/ol_8_5_oracledb_19c/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform
