Repository ministryofjustice/modernisation-platform-ami-builds, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ministryofjustice/modernisation-platform, @ministryofjustice/studio-webops, @ministryofjustice/hmpps-migration

delius-core oracle_db: add volume mounts required for oracle db
  teams/delius-core/oracle_db/terraform.tfvars
Owners: @ministryofjustice/hmpps-migration

base: add additional accounts to launch permissions
  commonimages/base/ol_8_5/terraform.tfvars
  commonimages/base/rhel_6_10/terraform.tfvars
  commonimages/base/rhel_7_9/terraform.tfvars
  commonimages/base/rhel_8_5/terraform.tfvars
  commonimages/base/shared.auto.tfvars
Owners: @ministryofjustice/modernisation-platform

RHEL6, use our own image as the base
  commonimages/base/rhel_6_10/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

fix
  commonimages/base/rhel_6_10/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

DSOS-1933 add additional accounts to base image launch permissions (#428)
  commonimages/base/ol_8_5/terraform.tfvars
  commonimages/base/rhel_6_10/terraform.tfvars
  commonimages/base/rhel_7_9/terraform.tfvars
  commonimages/base/rhel_8_5/terraform.tfvars
  commonimages/base/shared.auto.tfvars
Owners: @ministryofjustice/modernisation-platform

oasys bip image
  teams/oasys/bip/locals.tf
  teams/oasys/bip/terraform.tfvars
  teams/oasys/bip/terragrunt.hcl
Owners: @ministryofjustice/studio-webops

Workflow: created files in .github
  .github/dependabot.yml
Owners: @ministryofjustice/modernisation-platform

Workflow: created files in .github
  .github/dependabot.yml
Owners: @ministryofjustice/modernisation-platform

bumped AWS provider version, tested with validate/plan
  modernisation-platform/versions.tf
  modules/imagebuilder/versions.tf
Owners: @ministryofjustice/modernisation-platform

added further versions. tested example code showing no changes
  commonimages/base/versions.tf
  commonimages/components/versions.tf
  teams/delius-core/versions.tf
  teams/delius-iaps/versions.tf
  teams/example/versions.tf
  teams/nomis-data-hub/versions.tf
  teams/nomis/versions.tf
  teams/oasys/versions.tf
  teams/onr/versions.tf
  teams/sprinkler/versions.tf
Owners: @ministryofjustice/modernisation-platform, @ministryofjustice/hmpps-migration, @ministryofjustice/studio-webops

update config mgmt branch to main for delius core oracle db ami
  teams/delius-core/oracle_db/locals.tf
Owners: @ministryofjustice/hmpps-migration

update oasys db
  teams/oasys/oracle_db/terraform.tfvars
Owners: @ministryofjustice/studio-webops

Bump config version
  teams/delius-core/oracle_db/terraform.tfvars
Owners: @ministryofjustice/hmpps-migration

Update config mgmt branch to main for delius core oracle db ami (#463)
  teams/delius-core/oracle_db/locals.tf
  teams/delius-core/oracle_db/terraform.tfvars
Owners: @ministryofjustice/hmpps-migration

config added for new ami
  teams/csr/components/windows_6_3_96/locals.tf
  teams/csr/components/windows_6_3_96/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

ami config moved to commonimages
  commonimages/base/windows_6_3_96/locals.tf
  commonimages/base/windows_6_3_96/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

Config corrected for windows cm
  commonimages/base/windows_6_3_96/locals.tf
  commonimages/base/windows_6_3_96/terragrunt.hcl
Owners: @ministryofjustice/modernisation-platform

New AMI config added
  teams/corporate-staff-rostering/backend.tf
  teams/corporate-staff-rostering/base_variables.tf
  teams/corporate-staff-rostering/components/linux/linux.yml
  teams/corporate-staff-rostering/components/windows/s3_operations.yml
  teams/corporate-staff-rostering/components/windows/windows.yml
  teams/corporate-staff-rostering/linux_pipeline.tf
  teams/corporate-staff-rostering/linux_pipeline_vars.tf
  teams/corporate-staff-rostering/locals_shared.tf
  teams/corporate-staff-rostering/main.tf
  teams/corporate-staff-rostering/networking.auto.tfvars.json
  teams/corporate-staff-rostering/providers.tf
  teams/corporate-staff-rostering/remote_states.tf
  teams/corporate-staff-rostering/secrets.tf
  teams/corporate-staff-rostering/variables.tf
  teams/corporate-staff-rostering/versions.tf
  teams/corporate-staff-rostering/windows_2012_server/locals.tf
  teams/corporate-staff-rostering/windows_2012_server/terraform.tfvars
  teams/corporate-staff-rostering/windows_pipeline.tf
  teams/corporate-staff-rostering/windows_pipeline_vars.tf
  teams/corporate-staff-rostering/windows_s3_test_pipeline.tf
  teams/corporate-staff-rostering/windows_s3_test_pipeline_vars.tf
Owners: @ministryofjustice/modernisation-platform

new config added
  .github/workflows/corporate-staff-rostering.yml
  commonimages/base/windows_2012/locals.tf
  commonimages/base/windows_2012/terraform.tfvars
  commonimages/base/windows_2012/terragrunt.hcl
Owners: @ministryofjustice/modernisation-platform

new config edited
  commonimages/base/windows_2012/terragrunt.hcl
Owners: @ministryofjustice/modernisation-platform

Delete corporate-staff-rostering.yml
  .github/workflows/corporate-staff-rostering.yml
Owners: @ministryofjustice/modernisation-platform

Update locals.tf
  commonimages/base/windows_2012/locals.tf
Owners: @ministryofjustice/modernisation-platform

Update terraform.tfvars
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

Update terraform.tfvars
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

oasys db fix instance creation
  teams/oasys/bip/terraform.tfvars
  teams/oasys/locals_shared.tf
  teams/oasys/main.tf
  teams/oasys/oracle_db/terraform.tfvars
  teams/oasys/variables.tf
  teams/oasys/webserver/terraform.tfvars
Owners: @ministryofjustice/studio-webops

update version
  teams/oasys/oracle_db/terraform.tfvars
Owners: @ministryofjustice/studio-webops

Update terraform.tfvars
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

Update terraform.tfvars
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

systems manager agent block removed form windows 2012
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

systems manager agent block removed form windows 2012 vars
  commonimages/base/variables.tf
Owners: @ministryofjustice/modernisation-platform

Update variables.tf
  commonimages/base/variables.tf
Owners: @ministryofjustice/modernisation-platform

Update terraform.tfvars
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

ssm agent block edited in variables.tf
  modules/imagebuilder/variables.tf
Owners: @ministryofjustice/modernisation-platform

ssm agent block edited in variables.tf
  modules/imagebuilder/variables.tf
Owners: @ministryofjustice/modernisation-platform

ssm agent block edited in variables.tf
  commonimages/base/variables.tf
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

Update terraform.tfvars
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

ami config upgraded
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

owner id amended in tfvars
  commonimages/base/windows_2012/terraform.tfvars
Owners: @ministryofjustice/modernisation-platform

Workflow: created files in .github
  .github/dependabot.yml
Owners: @ministryofjustice/modernisation-platform

oasys db add swap disk
  teams/oasys/oracle_db/terraform.tfvars
Owners: @ministryofjustice/studio-webops

.github/CODEOWNERS:

* @ministryofjustice/modernisation-platform
/teams/nomis @ministryofjustice/studio-webops
/teams/oasys @ministryofjustice/studio-webops
/ansible @ministryofjustice/studio-webops
/teams/delius-core @ministryofjustice/hmpps-migration
/teams/delius-iaps @ministryofjustice/hmpps-migration
/teams/onr @ministryofjustice/studio-webops
/teams/example @ministryofjustice/modernisation-platform
/teams/sprinkler @ministryofjustice/modernisation-platform
